<div id="uavatar">
	<img src="{{avatar}}">
</div>
<div id="data">	
	<p>{{nombre}}</p>
	<ul>
		<li>Email: {{email}}</li>
		{{#empresa}}
			<li>Empresa: {{nombre_empresa}}</li>
		{{/empresa}}
	</ul>
</div>

<p class="smallfont">Si deseas cambiar esta información, puedes hacerlo en tu cuenta de usuario</p>