<h2>Tu información</h2>
<img src="{{avatar}}">
<p>{{nombre}}</p>
<ul>
	<li>Email: {{email}}</li>
	<li>Teléfono: {{telefono}}</li>
	{{#empresa}}
		<li>Empresa: {{nombre_empresa}}</li>
	{{/empresa}}
</ul>

<p class="smallfont">Si deseas cambiar esta información, puedes hacerlo en tu cuenta de usuario</p>