<p>Hola {{nombre}}</p>
<p>Tienes {{sinleer}} mensajes sin leer en tu casilla de contacto de Mepagas.com.</p>

<p>Para poder revisarlos ingresa a <a href="http://www.mepagas.com">MEPAGAS.COM</a> con tu cuenta de usuario y presiona en el link de "mensajes"</p>

<p>Saludos</p>
<p><b>Equipo Mepagas.com</b></p>