<p>Hola {{nombre}}</p>
<p>Nuestros registros indican que dentro de la ultima semana te contactaste con {{contactado}}.</p>
<p>¿Que te parecio su servicio? Te invitamos a que lo califiques y detalles tu experiencia con el para que los demas usuarios puedan conocerlo mejor antes de tomar cualquier decision</p>.

<p>Puedes calificar a {{contactado}} en la siguiente direccion: <a href="http://www.mepagas.com/usuario/calificar/{{idcontactado}}">LINK DE CALIFICACION</a></p>

<p>De antemano, agradecemos tu tiempo</p>

<p>Saludos</p>
<p><b>Equipo Mepagas.com</b></p>