<p>Hola {{nombre}}</p>
<p>Para completar el proceso de activacion de tu cuenta en Mepagas.com, debes ingresar al siguiente link de activacion:</p>
<p><a href="http://www.mepagas.com/usuario/activar/{{token}}">http://www.mepagas.com/usuario/activar/{{token}}</a></p>
<p>Tienes 24 horas para realizar la activación, de lo contrario tu cuenta será eliminada</p>
<br>
<p>Saludos</p>
<p><b>Equipo Mepagas.com</b></p>