@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* {
	margin: 0;
	padding: 0;
	border:0;
}

img {
	vertical-align: top;
}

/* ----------------------------------------------------------------------------------------------------------------------
   BASIC STYLES
   --------------------------------------------------------------------------------------------------------------------*/
.aright {
	text-align: right !important;
}

.row {
margin-bottom: 20px;
width: 100%;
}

.midrow {
	margin-bottom: 20px;
	width: 50%;
}

.left { float: left; }
.right { float: right; }

.text_gratis {
	font-size: 47px;
}

input, select, textarea {
	padding: 5px;
	font-size: 16px;
	border: 1px solid #CCC;
	border-radius: 5px;
	background: #ffffff;
	background-image: -webkit-linear-gradient(-90deg, #eee 0%, #fff 25%);
	background-image: -moz-linear-gradient(-90deg, #eee 0%, #fff 25%);
	background-image: -ms-linear-gradient(-90deg, #eee 0%, #fff 25%);
	background-image: -o-linear-gradient(-90deg, #eee 0%, #fff 25%);
	background-image: linear-gradient(180deg, #eee 0%, #fff 25%);
}

.butn {
	padding: 6px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	cursor: pointer;
}

a.butn {
	text-decoration: none !important;
	line-height: 40px;
}


/* ----------------------------------------------------------------------------------------------------------------------
   FONTS 
   --------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/oswald-light-webfont.eot');
    src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldbook';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_stencilregular';
    src: url('../fonts/oswald-stencil-webfont.eot');
    src: url('../fonts/oswald-stencil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-stencil-webfont.woff') format('woff'),
         url('../fonts/oswald-stencil-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bree_serifregular';
    src: url('../fonts/breeserif_reg-webfont.eot');
    src: url('../fonts/breeserif_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breeserif_reg-webfont.woff') format('woff'),
         url('../fonts/breeserif_reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


/* COMIENZO CSS LALOPAX */

html { 

	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body {
	font-family: Arial;
	font-size: 12px;
	color:#444;
	background: url(../img/f_sitio.png) #fff;
}

a { 
	color: #353535; 
	text-decoration: none; 
}

a:hover {
	 color: #353535; 
	 text-decoration:underline; 
}

header {
	background: -moz-linear-gradient(top,  rgba(243,243,243,0) 0%, rgba(243,243,243,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,0)), color-stop(100%,rgba(243,243,243,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f3f3f3', endColorstr='#a6f3f3f3',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #c4c4c4;
	height: 71px; 
}

/* HEADER */
.header-wrapper {
	width: 980px;
	height: 71px;
	margin: 0 auto;
	position: relative;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 43%, rgba(243,243,243,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(43%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 43%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 43%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 43%,rgba(243,243,243,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 43%,rgba(243,243,243,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 6px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 6px rgba(50, 50, 50, 0.3);
}

	.header-wrapper .logo {
		width: 266px;
		margin: 0 auto;
	}

	.header-wrapper .logo-despliegue {
		margin-left: 2%;
	}

	.header-wrapper .login-info {
		top: 10px;
		right: 10px;
		position: absolute;
		width: auto;
		min-width: 140px;
	}

	.login-info { text-align: right; padding-top: 3px; }

	#usuario-login {
	    padding-top: 15px;
	}

	#usuario-login #data {
    	float: left;
    	margin-left: 20px;
	}

	#usuario-login #uavatar {
	    float: left;
	}

	#usuario-login .smallfont {
	    width: 100%;
	    float: left;
	    margin-top: 20px;
	}

	#usuario-login #data p {
	    font-size: 20px;
	    font-weight: bold;
	}

	#usuario-login #data ul {
	    list-style: none;
	}

	#usuario-login .btn, .login-info .btn {
		text-align: center;
		font-family: "Droid Sans", arial, sans-serif;
		padding: 10px;
		font-size: 14px;
		-moz-transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		margin-top: 5px;
		background-color: #EEE;
	}

	#usuario-login .btn:hover, .login-info .btn:hover {
		text-decoration: none;
		background: #76A933;
		color: #FFF;
	}

		.login-info .btn-register {
			color: #76A933;		
		}

		.login-info .btn-login {
			background-color: #f2eee7;	
		}

	.login-info #usr-ava {
	    float: left;
	    margin-right: 4px;
	    width: 50px;
	    border: 1px solid #CCC;
	}

	.login-info #usr-acc {
		background: url('/assets/img/user_account_small.png') no-repeat left -2px;
		padding-left: 19px;
		font-size: 11px;
	}

	.login-info #usr-msj {
		background: url('/assets/img/user_messages_small.png') no-repeat left -2px;
		padding-left: 19px;
		font-size: 11px !important;
	}

	.login-info #usr-msj #new {
	    background: red;
	    color: white;
	    font-weight: bold;
	    padding: 1px 5px;
	    border-radius: 10px;
	}

	#logout {
	    text-decoration: underline;
	    color: blue;
	}
	.login-info p {
	    float: left;
	    margin-top: 2px;
	}

	.header-login input {
    font-size: 10px;
	}
	.header-login {
	    float: left;
	}
	.fb-login-button {
	    text-align: right;
	}
	.header-login .butn {
	    padding: 4px;
	    line-height: 30px;
	}

/* ----------------------------------------------------------------------------------------------------------------------
   CENTRO 
   --------------------------------------------------------------------------------------------------------------------*/
.wrapper {
	width: 980px;
	margin: 0 auto;
}

.container {
	float: left;
	width: 100%;
	background: #fff;
	-webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 6px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 6px rgba(50, 50, 50, 0.3);
	padding: 0 0 20px 0;
}

.publish-zone {
	float: left;
	width: 100%;
	height: 207px;
	padding: 99px 0 0 0;
	text-align: center;
	background: url(../img/fond_header_mp.png) no-repeat;
}

	.publish-zone .gratis {
		font-size: 47px;
	}

	.publish-zone .text {
		font-family: 'oswaldbook', Arial, sans-serif;
		font-size: 32px;
		width: 320px;
		margin: 0 auto;
		padding: 0 20px;
		background: #ffa500;
		cursor: pointer;
	}

	.publish-zone .text a {
		color: #fff;
	}
	.publish-zone .text a:hover{
		text-decoration: none;
	}

	.publish-zone h3 {
		width: 55%;
		margin: 0 auto;
		font-family: 'bree_serifregular', Arial, sans-serif ;
		font-size: 24px;
		font-weight: normal;
		color: #444;
		line-height: 32px;
		margin-bottom: 15px;
	}

.content {
	float: left;
	width: 980px;
}

	.content .infotext {
		font-size: 12px !important;
		line-height: 15px !important;
		margin-top: 10px;
	}

	.content .errors { color: red; }
	.content .dones { color: green; }

.sidebar-wrapper {
	float: left;
	width: 216px;
	padding: 0 22px;
}

.main {
	float: left;
	width: 698px;
	padding: 0 22px 0 0;
	/*font-family: 'oswaldbook', Arial, sans-serif ;*/
	/*font-family: 'bree_serifregular', Arial, sans-serif ;*/
}

.sidebar {
	float: left;
	width: 100%;
}

.sidebar h2 {
	/*font-family: 'bree_serifregular', Arial, sans-serif ;*/
	font-family: Arial, sans-serif ;
	font-size: 18px;
	border-bottom: 1px solid #929292;
	color: #444444;
	font-weight: bold;
}

.sidebar ul {
	float: left;
	width: 100%;
	padding: 0 0 48px 0;
}

.sidebar ul li {
	float: left;
	/*font-family: 'bree_serifregular', Arial, sans-serif ;*/
	font-family: Arial, sans-serif ;
	font-size: 14px;
	width: 90%;
	padding: 8px 11px;
	list-style-type: none;
	color: #444;
	border-bottom: 1px solid #e4e4e4;
}
.sidebar li a {
	color: #444;
}

/* ----------------------------------------------------------------------------------------------------------------------
   COLORES DE BILLETES 
   --------------------------------------------------------------------------------------------------------------------*/
.color-mil, .color-1000 {
	color: #92ab47;
}

.color-2mil, .color-2000 {
	color: #8d5ec9;
}

.color-5mil, .color-5000 {
	color: #c94753;
}

.color-10mil, .color-10000 {
	color: #4a7fc1;
}

.color-20mil, .color-20000 {
	color: #de814f;
}

/* ----------------------------------------------------------------------------------------------------------------------
   FONDOS DE BILLETES 
   --------------------------------------------------------------------------------------------------------------------*/
.bg-1000  {
	background: url(../img/billete_mil.png) no-repeat 95% 5px;
}

.bg-2000 {
	background: url(../img/billete_2mil.png) no-repeat 95% 5px;
}

.bg-5000 {
	background: url(../img/billete_5mil.png) no-repeat 95% 5px;
}

.bg-10000 {
	background: url(../img/billete_10mil.png) no-repeat 95% 5px;
}

.bg-20000 {
	background: url(../img/billete_20mil.png) no-repeat 95% 5px;
}

.bg-cheque {
	background: url(../img/cheque.png) no-repeat 95% 5px;
}

/* ----------------------------------------------------------------------------------------------------------------------
   ULTIMOS AVISOS (HOME) 
   --------------------------------------------------------------------------------------------------------------------*/
.controls-wrapper {
	float: left;
	width: 100%;
	border-bottom: 1px solid #888;
	margin-bottom: 40px;
}

.controls-wrapper h1 {
	/*font-family: 'bree_serifregular', Arial, sans-serif ;*/
	font-family: Arial, sans-serif ;
	font-size: 24px;
	font-weight: bold;
	color: #444;
	padding: 0 0 19px 0;
	text-align: right;
}

.controls {
	float: left;
	width: 100%;
	padding: 0 0 3px 0;
}

.icon_orden {
	float: left;
	width: 33px;
	margin-right: 5px;
}

.display {
	float: left;
}

.order {
	float: right;
}

.orden {
	float: left;
	width: 89px;
	height: 25px;
	color: #7a7a7a;
	background: url(../img/flechas.jpg) no-repeat 90% 9px #f0f0f0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 8px 0 0 11px;
}

.orden_arrb {
	float: left;
	width: 18px;
	height: 25px;
	padding: 8px 0 0 11px;
}

.orden_pagina {
	float: left;
	width: 55px;
	height: 25px;
	color: #7a7a7a;
	background: url(../img/flechas.jpg) no-repeat 90% 9px #f0f0f0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 8px 0 0 11px;
}

/* ----------------------------------------------------------------------------------------------------------------------
   AVISOS 
   --------------------------------------------------------------------------------------------------------------------*/

#pituto-no-disponible {
	margin-top: 120px;
	margin-bottom: 50px;
	font-style: italic;
}

.aviso {
	float: left;
	width: 100%;
	margin-bottom: 20px;	
}

.aviso .thumb {
	float: left;
	width: 150px;
	height: auto;	
	max-height: 100px;
	border: 5px solid #a2a2a2;
	margin-right: 15px;
	overflow: hidden;	
}

	.aviso .thumb img{
		width: 150px;
	}

	.aviso .text {
		float: left;
	}

	.aviso .no-image {
		width: 100%;
	}

	.aviso .si-image {
		width: 520px;
	}

	.aviso .text h2 {
		/*font-family: 'bree_serifregular', Arial, sans-serif ;*/
		font-family: Arial, sans-serif ;
		font-size: 18px;
		font-weight: bold;
		margin: 0;
		padding: 0 0 4px 0;
	}

	.aviso .text p {
		line-height: 18px;
		color: #545454;
	}

	.aviso .text h1 a {
		color: #444;
	}

	.aviso .price {
		float: left;
		width: 100%;
		height: 36px;
		background: url(../img/f_lin_pre.jpg) repeat-x 0 20px;
	}

	.aviso .price-bill {
		float: right;
		width: 110px;
		height: 33px;
		border: 1px solid #CCC;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		margin-right: 40px;
		font-family: 'bree_serifregular', Arial, sans-serif ;
		font-size: 18px;
		text-align: right;
	}

	.aviso .bg-1000 {
		background: url(../img/billete_mil.png) no-repeat 10px 9px #fff;
		padding: 5px 10px 0 0;
	}

	.aviso .bg-2000 {
		background: url(../img/billete_2mil.png) no-repeat 10px 9px #fff;
		padding: 5px 10px 0 0;
	}

	.aviso .bg-5000 {
		background: url(../img/billete_5mil.png) no-repeat 10px 9px #fff;
		padding: 5px 10px 0 0;
	}

	.aviso .bg-10000 {
		background: url(../img/billete_10mil.png) no-repeat 10px 9px #fff;
		padding: 5px 10px 0 0;
	}

	.aviso .bg-20000 {
		background: url(../img/billete_20mil.png) no-repeat 10px 9px #fff;
		padding: 5px 10px 0 0;
	}

	.aviso .bg-cheque {
		background: url(../img/cheque.png) no-repeat 10px 9px #fff;
		padding: 5px 10px 0 0;
		width: 125px;
	}

/* ----------------------------------------------------------------------------------------------------------------------
   DESPLIEGUE 
   --------------------------------------------------------------------------------------------------------------------*/
.logo_mepagas_despliegue {
	width: 266px;
	padding: 0 0 0 36px;
}

.fond_text_header_mp_despl {
	float: left;
	width: 100%;
	height: 174px;
	background: url(../img/fond_header_despl.png) no-repeat #fff;
}

.publish-zone_despl {
	float: left;
	padding: 9px 0 0 34%;
}

.publish-zone_despl h3 {
	float: left;
	width: 50%;
	font-family: 'bree_serifregular', Arial, sans-serif ;
	font-size: 27px;
	font-weight: normal;
	color: #444;
	text-align: center;
	margin: 0 13px 0 0;
}

.text_despl {
	float: left;
	font-family: 'oswaldbook', Arial, sans-serif;
	font-size: 29px;
	letter-spacing: -1px;
	width: 266px;
	padding: 0 10px;
	background: #ffa500;
	cursor: pointer;
	margin-top: 6%;
}

.text_despl a {
	color: #fff;
}

.text_despl a:hover{
	text-decoration: none;
}

	.publish-_despl .gratis {
		font-size: 47px;
	}


	.publish-zone_despl .text_despl a {
		color: #fff;
	}
	.publish-zone_despl .text_despl a:hover{
		text-decoration: none;
	}

.content_despl {
	float: left;
	width: 920px;
	padding: 0 30px;
}

.contenedor_nav_superior_despl {
	float: left;
	width: 100%;
	padding: 0px 0 10px 0;
}

.contenido_nav_categorias {
	float: left;
	width: 350px;
	line-height: 25px;
	padding-left: 5px;
}

.contenido_nav_categorias a {
	font-family: Arial;
	color: #777;
	background: #e3e3e3;
	padding: 4px 6px;
	font-size: 11px;
	margin-right: 2px;
}

.contenido_nav_ant_sig {
	float: right;
	padding-right: 5px;
}

.contenido_nav_ant_sig a {
	font-size: 11px;
	padding: 0 2px;
	color: #777;
}

.flecha_nav_ant	{
	background: url(../img/flecha_ant.png) no-repeat 0 2px;
/*	border-left: 1px solid #777;*/
	padding: 0 0 0 14px;
	color: #777;
}

.flecha_nav_sig	{
	background: url(../img/flecha_sig.png) no-repeat right 2px;
/*	border-right: 1px solid #777;*/
	padding: 0 12px 0 0;
	color: #777;
}

.h1-ficha {
	float: left;
	width: 98%;
	font-family: Arial, serif;
	font-weight: bold;
	font-size: 24px;
	padding: 10px 1%;
}

.contenido_centro_despl_full {
	float: left;
	width: 764px;
	border-right: 1px solid #dedede;
}

.contenido_full_centro_izq {
	float: left;
	width: 415px;
}

.contenido_full_centro_der {
	float: left;
	width: 311px;
	min-height: 329px;
	padding: 4px 19px 0;
}

.contenido_centro_despl_full_usuario {
	float: left;
	width: 155px;
}

.contenedor_galeria_full {
	float: left;
	width: 414px;
	height: 353px;
	border: 1px solid #c0c0c0;
}

.cont_galeria_nav {
	position: relative;
	height: 353px;
	background: #000;
}

.cont_galeria_nav img {
	width: 100%;
	position: absolute;
}

.cont_galeria_nav_ant {
	position: absolute;
	top: 45%;
	z-index: 9;
	cursor: pointer;
	width: 45px;
	height: 45px;
	background: url(../img/botones_diseno.png) no-repeat -250px -4px;
	text-indent: -9999px;
}

.cont_galeria_nav_sig {
	position: absolute;
	top: 45%;
	z-index: 9;
	cursor: pointer;
	width: 45px;
	height: 45px;
	background: url(../img/botones_diseno.png) no-repeat -300px -4px;
	text-indent: -9999px;
	right: 0;
}

.contenido_ficha_descripcion {
	float: left;
	width: 96%;
	padding: 0 0 29px 12px; 
}

.contenido_ficha_descripcion h2 {
	font-family: Arial, serif;
	font-size: 15px;
	padding: 20px 0 8px 0;
	color: #333;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 20px;
	font-weight: bold;
}

.contenido_ficha_descripcion p {
	float: left;
	font-family: "Droid Sans", arial, sans-serif;
	font-weight: normal;
	text-transform: none;
	font-size: 12px;
	line-height: 18px;
	color: #555;
}

.contenido_full_centro_der h2 {
	font-family: Arial,sans-serif;
	font-size: 15px;
	border-bottom: 1px solid #dcdcdc;
	margin: 0 0 12px 0;
	padding: 0 0 4px 0;
	color: #333;
}

.precio_conten_desp {
	float: left;
	width: 100%;
}

.contendor_precio_txt {
	float: left;
	padding: 5px 15px 19px 0;
	font-size: 28px;
	font-family: Arial, serif;
}

.contendor_precio_icon {
	float: left;
}

.contenedor_coberturas_servicios {
	float: left;
	width: 100%;
	padding: 0 0 15px 0;
}

.contenedor_coberturas_servicios a {
	float: left;
	font-family: "Droid Sans", arial, sans-serif;
	font-weight: normal;
	padding: 5px 7px;
	margin-right: 2px;
	margin-bottom: 2px;
	display: block;
	background: #333;
	color: #fff;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.contenedor_coberturas_servicios a:hover {
	text-decoration: none;
	background: #76A933;
}

.contenedor_calificar {
	float: left;
	width: 100%;
	padding: 0 0 19px 0; 
}

.contenedor_calificar a {
	float: left;
	width: 16px;
	height: 15px;
	background: url(../img/estrella_amarilla.png) no-repeat;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	text-indent: -9999px;
	margin: 0 2px 0 0;
}

.contenedor_calificar a:hover {
	background: url(../img/estrella_gris.png) no-repeat;
}

.contenido_fav_denuncia {
	float: left;
	width: 43%;
	padding-left: 2px;
}

.contenido_fav_denuncia_mar {
	margin-right: 13px;
}

.contenido_fav_den_right {
	float: right;
	vertical-align: bottom;
}

.contenido_fav_denuncia a {
	float: left;
	font-family: "Droid Sans", arial, sans-serif;
	font-weight: normal;
	padding: 5px 7px;
	background: #dadada;
	color: #333;
}

.contenido_usuario_despl {
	float: left;
	width: 87%;
	padding: 0 0 0 19px;
}

.contenido_nombreuser_imagen {
	float: left;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	margin: 0 0 6px 0;
}

.contenido_nombreuser_imagen h3 {
	float: left;
	width: 80px;
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 3px 0 10px 0;
}

.img_user_mepagas {
	float: right;
}

.img_user_mepagas img{
	width: 50px;
}

.info-fixed {
	position: fixed;
	margin-left: 765px;
	margin-top: -65px;
}

.contenido_usuario_despl h1 {
	font-family: Arial,sans-serif;
	font-size: 15px;
	border-bottom: 1px solid #dcdcdc;
	margin: 0 0 12px 0;
	padding: 0 0 4px 0;
	color: #333;
}

.contenido_contactar_user {
	float: left;
	width: 100%;
	margin: 0  0 22px 0;
}

#contacto_oculto li {
	list-style: none;
	margin-bottom: 10px;
}

.contactar_email {
	background: url('/assets/img/icon_mail.png') no-repeat -5px -12px;
	padding-left: 35px;
	line-height: 18px;
	font-weight: bold;
}

.contactar_telefono {
	background: url('/assets/img/icon_phone.png') no-repeat -5px -6px;
	padding-left: 35px;
	line-height: 29px;
	font-weight: bold;
}
.contenido_contactar_user a {
	display: block;
	text-align: center;
	font-family: "Droid Sans", arial, sans-serif;
	font-size: 20px;
	padding: 14px 16px 15px;
	font-weight: normal;
	background: #76A933;
	color: #fff;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.contenido_contactar_user a:hover {
	text-decoration: none;
	background: #333;
}

.compartir_redes_sociales {
	float: left;
	width: 100%;
	text-align: center;
}

.compartir_redes_sociales a {
	width: 64px;
	height: 64px;
	display: block;
	float: left;
	text-indent: -999999px;
	background-color: #f3f3f3;
	background-repeat: no-repeat;
	background-position: center;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	margin: 0 0 10px 0;
}

.compartir_redes_sociales a:hover {
	background-color: #d0d0d0;
}

.compartir_redes_sociales a.facebook {
	background-image: url(../img/share_facebook.png);
}

.compartir_redes_sociales a.twitter {
	background-image: url(../img/share_twitter.png);
}

.cont_txt_header_despl {
	float: left;
	padding: 9px 0 0 34%;
}

.cont_txt_header_despl h1 {
	float: left;
	width: 50%;
	font-family: 'bree_serifregular', Arial, sans-serif ;
	font-size: 27px;
	font-weight: normal;
	color: #444;
	text-align: center;
	margin: 0 13px 0 0;
}

.txt_publica_gratis_despl {
	float: left;
	font-family: 'oswaldbook', Arial, sans-serif;
	font-size: 29px;
	letter-spacing: -1px;
	width: 266px;
	padding: 0 10px;
	background: #ffa500;
	cursor: pointer;
	margin-top: 6%;
}

.txt_publica_gratis_despl a {
	color: #fff;
}
.txt_publica_gratis_despl a:hover{
	text-decoration: none;
}

.contenido_selec_precios {
	float: left;
	width: 100%;
	margin:0 0 36px 0;
}

.contenedor_list_precios_producto {
	float: left;
	height: 130px;
	width: 160px;
	border: 1px solid #dcdcdc;
	padding: 5px;
	margin: 0 7px 0 0;
	background: #fff;
	overflow: hidden;
	position: relative;
}

.contenedor_list_precios_producto img {
	width: 100%; 
	height: 100%;
}

.contenedor_list_producto_txt {
	position: absolute;
	z-index: 99;
	background: #333;
	margin: 77px 0 0 0;
	padding: 4px 4px 4px 5px;
	width: 151px;
	background: url(../img/fnd_list_pro.png);
	bottom: 5px;
	height: 40px;
}

.contenedor_list_producto_txt a {
	color: #fff;
}

.contenedor_disqus {
	float: left;
	width: 92%;
	border: 1px solid #ccc;
	padding: 3%;
	text-align: center;
	margin-left: 1%;
}

.contendor_tabs_list {
	float: left;
	width: 96%;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.ul_tabs_list {
	float: left;
	width: 100%;
	padding: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	list-style-type: none;
}

.ul_tabs_list li {
	display: block;
	width: auto;
	height: 30px;
	padding: 0;
	float: left;
	margin-bottom: 0;
	margin-left: 0;
	list-style-type: none;
	font-family: "bree_serifregular", arial, sans-serif;
	font-size: 18px;

}

.ul_tabs_list li a {
	display: block;
	text-decoration: none;
	width: auto;
	height: 29px;
	padding: 0px 12px 0px 14px;
	line-height: 30px;
	border-style: solid;
	border-color: #dcdcdc;
	border-width: 1px 1px 0 0;
	margin: 0;
	font-size: 15px;
	color: #555;
}

.ul_tabs_list li a.activo {
	height: 30px;
	position: relative;
	top: -4px;
	padding-top: 4px;
	border-left-width: 1px;
	margin: 0 0 0 -1px;
	border-bottom: none;
}

.img_billete_list {
	float: right;
	padding: 4px 0 0 8px;
}

.tamano_num_list {
	font-size: 18px;
}

.contenido_list_produc {
	float: left;
	width: 98%;
	border-right: 1px solid #dcdcdc;
	padding: 19px 0 19px 14px;
}

.contenido_list_produc_fnd {
	background: #f1f1f1;
}

.cont_entrar_secc_list {
	float: left;
	width: 96%;
}

.cont_entrar_secc_list a {
	float: right;
	font-family: "Droid Sans", arial, sans-serif;
	font-weight: normal;
	text-transform: none;
	background: #76A933;
	color: #fff;
	font-size: 14px;
	padding: 12px 14px 12px;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-right: 14px;
}

.cont_entrar_secc_list a:hover  {
	background: #333;
	text-decoration: none;
}

#paginador_info {
	font-weight: bold;
	font-size: 14px;
	line-height: 27px;
	cursor: default;
	text-decoration: none;
	margin: 0px 5px;
}

/* ----------------------------------------------------------------------------------------------------------------------
   FOOTER 
   --------------------------------------------------------------------------------------------------------------------*/
footer {
	background: -moz-linear-gradient(top,  rgba(243,243,243,0) 0%, rgba(243,243,243,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,0)), color-stop(100%,rgba(243,243,243,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(243,243,243,0) 0%,rgba(243,243,243,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f3f3f3', endColorstr='#a6f3f3f3',GradientType=0 ); /* IE6-9 */

	float: left;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	height: 100px; 
	width: 100%;
}

.div_cont_central_footer {
	width: 980px;
	line-height: 100px;
	text-align: center;
	margin: 0 auto;
	color: #545454;
}


/* ----------------------------------------------------------------------------------------------------------------------
   PUBLICADOR 
   --------------------------------------------------------------------------------------------------------------------*/

.publish .mini-info {
	font-size: 13px;
	margin-top: 10px;
	font-style: italic;
	color: #333;
}

.publish {
	padding: 50px 5px 10px 30px;	
}

	.publish h1 {
		font-family: Arial, sans-serif ;
		font-size: 28px;
		font-weight: bold;
		color: #444;
		margin-right: 5%;
	}

	.publish form {
		font-size: 16px;
		width: 70%;
		margin-top: 20px;
	}

	.publish #descripcion {
	    height: 150px;
	    font-family: Arial;
	}

	#cobertura_chosen {
	font-size: 16px;
	}


	.publish .aviso-wrapper {
	    background-color: #DDE;
	    width: 100%;
	    padding: 30px;
	    margin-bottom: 20px;
	}

	.publish .usuario-wrapper {
	    background-color: #FC9;
	    padding: 30px;
	    width: 100%;
	    margin-bottom: 20px;
	}

		.publish .usuario-wrapper label {
			display: block;
			font-size: 13px;
		}

	.publish .imagenes-zone {
		margin: 10px;
		padding: 5px;
		width: 100%;
	}

	.publish .image-thumb {
	    width: 150px;
	    height: 100px;
	    overflow: hidden !important;
	    display: inline-block;
	    margin: 5px;
	}

	.publish .image-thumb img {
	    width: 150px;
	}

	.publish .trash img {
    	width: 32px !important;
	}

	.publish .trash {
	    position: absolute;
	    margin-left: 119px;
	    margin-top: -2px;
	    cursor: pointer;
	}

	#load-image {
		width: 130px;
		text-align: center;
		padding: 10px;
		font-size: 11px;
		color: #666;
		margin: 15px auto
	}

	#load-image p {
		margin-top: 5px;
	}

	#usuario-registro, #usuario-logged, #user-enterprise-group { display: none; }

.form-row {
	margin: 10px 0px;
}

.smallfont {
font-size: 12px;
font-style: italic;
}


/* ----------------------------------------------------------------------------------------------------------------------
   FICHA USUARIO 
   --------------------------------------------------------------------------------------------------------------------*/
#user_account {
	padding-left: 10px;
}   

#user_avatar {
	float: left;
	width: 180px;	
}

#user_info {
	float: left;
	margin-left: 10px;
	width: 300px;
}

	#user_info h1 {
		font-family: 'Bitter', serif;
		font-weight: normal;
		font-size: 24px;
		padding: 10px 1%;
	}

	#user_info ul {
		list-style: none;
	}

	#user_info li {
		font-size: 16px;
		line-height: 24px;

	}

#user_about {
	float: left;
	width: 430px;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 10px;

}


.user_data {
	width: 100%;
	float: left;
	margin-top: 20px;
}

.aviso-row td, .favorito-row td, .msj-row td { padding: 10px; border-bottom: 1px dashed #CCC; }
.aviso-row:hover, .favorito-row:hover, .msj-row:hover { background-color: #ffc; cursor: pointer; }

#user_avisos {
	width: 55%;
	float: left;
	margin-left: 5%;
}

	#user_avisos h3 {
		font-size: 18px;
		font-family: 'Bitter', serif;
		background: url('/assets/img/mis_avisos.png') left no-repeat;
		padding-left: 40px;
		line-height: 40px;
	}

#user_favoritos {
	width: 25%;
	float: left;
	margin-left: 5%;	
}

	#user_favoritos h3 {
		font-size: 18px;
		font-family: 'Bitter', serif;
		background: url('/assets/img/mis_favoritos.png') left no-repeat;
		padding-left: 40px;
		line-height: 40px;
	}

#user-opt-edit {
background: url('/assets/img/user_edit.png') top left no-repeat;
padding-left: 24px;
height: 32px;
float: right;
font-size: 15px;
line-height: 14px;
margin-right: 10px;
margin-bottom: 10px;
}

#user-opt-edit a { color: blue; }

.user-opt { display: none; text-align: right;}


#msj-fold li {
    display: inline;
    border: 1px solid #CCC;
    padding: 5px 10px;
    color: #CCC;
}
#msj-fold {
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
}
#msj-fold li.active {
    background: #CCC;
    color: #333;
}

.no-leido {
font-weight: bold;
}

.cuerpo-row td {
	padding: 15px;
	background-color: #EFEFEF;
}

#user-sidebar {
	border-right: 1px solid #CCC;
	width: 220px !important;
	margin-right: 30px;
	float: left;
	text-align: center;
}
#user-sidebar h2 {
    margin-bottom: 10px;
    font-size: 19px;
    text-align: left;
    width: 90%;
    padding-left: 5%;
}
#user-sidebar img {
    width: 90%;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}
#user-main { width: 670px; float: left;}
#options li {
	list-style: none;
    height: 20px;
    padding-left: 25px;
    line-height: 22px;
    font-size: 15px;
    text-align: left !important;
    margin-bottom: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
}
#options li:hover {
    border-bottom: 1px dashed #CCC;
}
#options li a { text-decoration: none; }
#options {
    width: 90%;
}

.opt-perfil { background: url('/assets/img/user_perfil.png') no-repeat left top; }
.opt-pitutos { background: url('/assets/img/user_pitutos.png') no-repeat left top; }
.opt-favoritos { background: url('/assets/img/user_favoritos.png') no-repeat left top; }
.opt-calificaciones { background: url('/assets/img/user_calificaciones.png') no-repeat left top; }
.opt-mensajes { background: url('/assets/img/user_mensajes.png') no-repeat left top; }
.opt-cerrar_sesion { background: url('/assets/img/user_cerrar_sesion.png') no-repeat left top; }
.opt-editperfil { 
	background: url('/assets/img/user_edit.png') no-repeat left top;
	height: 20px;
	width: 85px;
	float: right;
	line-height: 22px;
}

.btn-responder a {
	text-align: center;
	font-family: "Droid Sans", arial, sans-serif;
	font-size: 14px;
	padding: 5px 10px 5px;
	font-weight: normal;
	background: #76A933;
	color: #fff;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	line-height: 20px;
	float: right;
}

/* ----------------------------------------------------------------------------------------------------------------------
   WYSIHTML5 PERSONALIZADO
   --------------------------------------------------------------------------------------------------------------------*/

.wysihtml5-sandbox {
	width: 100% !important;
	height: 150px !important;
}

#toolbar {
	display: block;
	border-radius: 4px;
	width: 100%;
	height: 35px;
	background: #f6f6f6;
	position: relative;
	text-align: center;
	border: 1px solid #ddd\9;
	background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
	font-size: 0;
	text-align: center;
	margin: 10px 0px;
}

#toolbar .btn {
	background: url('/assets/img/toolbar-icons.png') no-repeat center;
	width: 35px;
	height: 35px;
	margin-left: 0px;
	display: inline-block;
	border-left: 1px solid #CCC;
	padding: 0 10px;
}

#toolbar .last {
	border-right: 1px solid #CCC;
}

#bold {
background-position: center 10px !important;
}

#italic {
background-position: center -100px !important;
}

#underline {
background-position: center -45px !important;
}

#insertUnorderedList {
background-position: center -224px !important;
}

#insertOrderedList {
background-position: center -158px !important;
}


/* ----------------------------------------------------------------------------------------------------------------------
   USER EDIT
   --------------------------------------------------------------------------------------------------------------------*/

#user_edit {
	margin-top: 60px;
	padding-left: 20px;
}

#user_edit .section-half {
	width: 46%;
	padding: 2%;
	float: left;
}

#user_edit .section-full {
	width: 96%;
	padding: 2%;
	float: left;
}

#user_edit p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
}

#user_edit textarea {
	width: 75%;
	height: 200px;
}


/* ----------------------------------------------------------------------------------------------------------------------
   USER CALIFICAR
   --------------------------------------------------------------------------------------------------------------------*/

#user_clasificar {
width: 90%;
margin-left: 5%;
margin-top: 90px;
}

#user_clasificar #uc_avatar {
    float: right;
    padding: 5px;
    background: #EEE;
}
#user_clasificar h2 {
    margin-bottom: 20px;
}
#user_clasificar h3 {
    font-size: 28px;
}
#user_clasificar .hint_recomendar {
	position: absolute;
	top: 10px;
	left: 190px;
	font-size: 16px;
	font-weight: bold;
}

#user_clasificar #recomendar {
    width: 60%;
    display: block;
    float: left;
    position: relative;    
}
#user_clasificar #mas-calificaciones {
    width: 60%;
    float: left;
    margin-top: 22px;
    list-style: none;
}
#user_clasificar #mas-calificaciones li {
    width: 100%;
    height: 45px;
    font-size: 16px;
    position: relative;
}
#user_clasificar #mas-calificaciones li div {
    display: block;
}

.hint_confiable, .hint_responsable, .hint_experiencia, .hint_calidad {
	position: absolute;
	top: 19px;
	left: 110px;
	font-size: 14px;
	font-weight: bold;
}

#user_clasificar .row {
    width: 60%;
    float: left;
    margin-top: 20px;
    font-size: 14px;
}
#user_clasificar textarea {
    width: 100%;
    height: 210px;
}
#user_clasificar .mini {
    font-size: 11px;
}
#user_clasificar .btn {
    background: #EEE;
    padding: 10px;
    border: 1px solid #c6c6c6;
    border-radius: 11px;
    font-weight: bold;
}

#user_clasificar a {
	text-decoration: none;
}